#ifndef __AI__

#define __AI__

typedef void (*AIFunction)(char [MAP_ROWS][MAP_COLS], char, char, int *, int *);

/**
	Example: a function defined in "human_player" object file
**/
void human_player(char map[MAP_ROWS][MAP_COLS], char current_player, char next_player, int *row, int *column);

{{function_prototypes}}

AIFunction all_AI[] = {
{{{ai_functions}}}
};

char *all_names[] = {
{{{player_names}}}
};

const int AI_count = sizeof(all_names) / sizeof(char *);

#endif
